<ul>
  <li><h5>Manage Business</h5></li>
  <li><%= link_to "Manage Sales", my_sales_path %> <span class="badge"><%= @pendings.size if @pendings.size > 0 %></span></li>
  <li><%= link_to "My Services", services_path %></li>
  <li><%= link_to "Feedbacks & Reviews", my_earnings_path %></li>
	<li><%= link_to "View Earnings", my_earnings_path %></li>
  <li><%= link_to "Request Cashout", my_cashouts_path %></li>
  <br>
  <li><h5>User Account</h5></li>
  <li><%= link_to "My Purchases", my_purchases_path %></li>
  <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
  <li><%= link_to "Account Settings", edit_user_registration_path %></li>
  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
</ul>