<% title 'View Incomes' %>
<% noindex %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="gig-container-alt">
        <div class="button-bar">
          <h1>Earnings<span class="float-right"><small><%= "Current Balance: RM #{number_with_precision(current_user.balance, precision: 2)}" %></small></span></h1>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>DATE</th>
              <th>SERVICE</th>
              <th>STATUS</th>
              <th>EARNED</th>
            </tr>
          </thead>

          <tbody>
            <% @customer_orders.each do |customer_order| %>
              <tr>
                <td>
                  <%= link_to "Order ##{customer_order.id}", gig_customer_order_path(current_user, customer_order) %>
                  <span class="next-line"><%= local_time_ago(customer_order.purchased_at, '%d %b %Y at %l:%M %p') %></span>
                </td>
                <td>
                  <%= link_to "#{customer_order.gig.gig_title}", gig_path(customer_order.seller), target: "_blank" %>
                  <span class="next-line">Buyer: <%= link_to "#{customer_order.buyer.username}", user_path(customer_order.buyer), target: "_blank", class: "green-text font-10" %></span> 
                </td>
                <td><%= customer_order.status %></td>
                <td>
                   <span class="green-text">RM20.00</span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <center><%= paginate @customer_orders %></center>
      </div>
    </div>
    <div class="col-md-3 right-sidebar">
      <%= render 'dashboard/sidebar' %>
    </div>
  </div>
</div>