<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer_order.name %>
</p>

<p>
  <strong>Address one:</strong>
  <%= @customer_order.address_one %>
</p>

<p>
  <strong>Address two:</strong>
  <%= @customer_order.address_two %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer_order.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer_order.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @customer_order.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer_order.country %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer_order.email %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @customer_order.remarks %>
</p>

<p>
  <strong>Gig:</strong>
  <%= @customer_order.gig_id %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @customer_order.buyer_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @customer_order.seller_id %>
</p>

<p>
  <strong>Payment status:</strong>
  <%= @customer_order.payment_status %>
</p>

<p>
  <strong>Notification params:</strong>
  <%= @customer_order.notification_params %>
</p>

<p>
  <strong>Status:</strong>
  <%= @customer_order.status %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @customer_order.transaction_id %>
</p>

<p>
  <strong>Purchased at:</strong>
  <%= @customer_order.purchased_at %>
</p>

<%= link_to 'Edit', edit_customer_order_path(@customer_order) %> |
<%= link_to 'Back', customer_orders_path %>
</div>