<% title "Order ##{@customer_order.id}" %>
<div class="container">
  <div class="page-title">
    <h1><strong>Order #<%= @customer_order.id %></strong></h1>
  </div>
  <div class="gig-container-alt-2">
    <div class="row">
    <div class="col-md-6">
      <div class="section-divider">
      <h3>Item Details</h3>
      </div>
      
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ITEM</th>
            <th>PRICE</th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td><%= @customer_order.gig.gig_title %></td>
              <td>RM 25.00</td>
            </tr>
            <tr>
              <td>Coffee for our developers :)</td>
              <td>RM 3.50</td>
            </tr>
        </tbody>
      </table>

      <h3 class="green-text" style="text-align:right;">Total: RM 28.50</h3>
       
      <div class="remark-box">
        
      </div>
    </div>
    <div class="col-md-6" style="border-left: 1px dotted #cecece;">
      <div class="section-divider">
      <h3>Order Details</h3>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>BUYER</th>
            <th>SELLER</th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td><%= link_to @customer_order.buyer.username, user_path(@customer_order.buyer), class: "green-text" %><span class="next-line"><%= mail_to @customer_order.email %></span></td>
              <td><%= link_to @customer_order.seller.username, user_path(@customer_order.seller), class: "green-text" %><span class="next-line"><%= mail_to @customer_order.seller.email %></span></td>
            </tr>
            <tr>
              <td>
                <%= @customer_order.address_one %>,
                <%= @customer_order.address_two %>,
                <%= @customer_order.zipcode %> <%= @customer_order.city %>,
                <%= @customer_order.state %>, <%= @customer_order.country %>
              </td>
              <td>
                <%= @customer_order.seller.address_one %>,
                <%= @customer_order.seller.address_two %>,
                <%= @customer_order.seller.zipcode %> <%= @customer_order.seller.city %>,
                <%= @customer_order.seller.state %>, <%= @customer_order.seller.country %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>

    </div>
  </div>    
</div>