<% title 'All Orders' %>
<% noindex %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="gig-container-alt">
        <div class="button-bar">
          <h1>Orders</h1>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>NUMBER</th>
              <th>ITEM</th>
              <th>STATUS</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @customer_orders.each do |customer_order| %>
              <tr>
                <td>
                  <%= link_to "Order ##{customer_order.id}", gig_customer_order_path(customer_order.seller, customer_order) %>
                  <span class="next-line">Ordered <%= local_time_ago(customer_order.created_at, '%d %b %Y at %l:%M %p') %></span>
                </td>
                <td>
                  <%= link_to "#{customer_order.gig.gig_title}", gig_path(customer_order.gig) %>
                  <span class="next-line">Buyer: <%= link_to customer_order.buyer.username, user_path(customer_order.buyer), target: "_blank", class: "green-text font-10" %>, Seller: <%= link_to customer_order.seller.username, user_path(customer_order.seller), target: "_blank", class: "green-text font-10" %> </span>
                </td>
                <td><%= customer_order.status %></td>
                <td>
                  <%= link_to 'Edit', edit_gig_customer_order_path(customer_order.gig, customer_order) %>
                  <%= link_to 'Delete', gig_customer_order_path(customer_order.gig, customer_order), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <center><%= paginate @customer_orders %></center>
      </div>
    </div>
    <div class="col-md-3 right-sidebar">
      <%= render 'administration/sidebar' %>
    </div>
  </div>
</div>