<% title 'Payment Notifications' %>
<% noindex %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="gig-container-alt">
        <div class="button-bar">
          <h1>Payment Notifications</h1>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>STATUS</th>
              <th>TRANSACTION ID</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @payment_notifications.each do |payment_notification| %>
              <tr>
                <td>
                  <%= link_to "Order ##{payment_notification.customer_order_id}", customer_order_path(payment_notification.customer_order_id) %>
                  <span class="next-line">Created <%= local_time_ago(payment_notification.created_at, '%d %b %Y at %l:%M %p') %></span>
                </td>
                <td><%= payment_notification.status %></td>
                <td class="green-text"><%= payment_notification.transaction_id %></td>
                <td class="text-right">
                  <%= link_to 'Show', payment_notification %>
                  <%= link_to 'Edit', edit_payment_notification_path(payment_notification) %>
                  <%= link_to 'Destroy', payment_notification, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3 right-sidebar">
      <%= render 'administration/sidebar' %>
    </div>
  </div>
</div>
