<% title 'Purchases' %>
<% noindex %>
<div class="container">
      <div class="gig-container-alt">
        <div class="section-divider">
          <h1>My Purchases</h1>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Seller</th>
              <th>Item</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
          <% @gigs.each do |gig| %>
            <% @orders.where(gig_id: gig).each do |order| %>
              <tr>
                <td>
                  <%= link_to "Order ##{order.id}", gig_order_path(gig, order) %>
                  <span class="next-line"><%= order.purchased_at.strftime("%b %e, %Y") %></span>
                </td>
                <td><%= link_to "#{order.gig.user.username}", user_path(order.seller), target: "_blank" %></td>
                <td>
                  <span class="green-text"><%= link_to "#{order.gig.gig_title}", gig, target: "_blank" %></span>
                </td>
                <td><%= order.status %></td>
                <td>
                   <%= form_tag edit_order_status_path(id: order) do %>
                      <% if order.status == 'Pending' %>
                        Awaiting seller to <span class="green-text">initiate</span> order.
                      <% elsif order.status == 'In Progress' %>
                        Awaiting seller to <span class="green-text">deliver</span> order.
                      <% elsif order.status == 'Delivered' %>
                        <%= button_tag "Confirm Completion", name: :commit, value: "Delivered", class: "btn btn-status full-width" %>
                      <% else order.status == 'Completed' %>
                        <%= button_tag "Leave a review for #{order.gig.user.username}", name: :commit, value: "Completed", class: "btn btn-status full-width" %>
                      <% end %>
                   <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <center><%= paginate @orders %></center>
      </div>
    </div>
</div>