<% title 'Cashout Requests' %>
<% noindex %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="gig-container-alt">
      <%= form_tag edit_cashouts_cashouts_path do %>
        <div class="button-bar">
          <h1>Cashout Request</h1>
          <hr>
          <%= submit_tag "Transferred", class: "btn btn-success btn-smaller" %>
          <%= submit_tag "In Progress", class: "btn btn-default" %>
          <%= submit_tag "Delete", class: "btn btn-default" %>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>USER</th>
              <th>AMOUNT</th>
              <th>STATUS</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
          <% @cashouts.each do |cashout| %>
              <tr>
                <td><%= check_box_tag "cashout_ids[]", cashout.id %></td>
                <td>
                  <%= cashout.user.name %>
                </td>
                <td>
                  <span class="green-text"><%= "RM #{number_with_precision(cashout.amount, precision: 2)}" %></span>
                  <span class="next-line">Requested <%= local_time_ago(cashout.created_at, '%d %b %Y at %l:%M %p') %></span>
                </td>
                <td><%= cashout.status %></td>
                <td class="text-right"><%= link_to 'Edit', edit_cashout_path(cashout) %>
                <%= link_to 'Destroy', cashout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
      <center><%= paginate @cashouts %></center>
      </div>
    </div>
    <div class="col-md-3 right-sidebar">
      <%= render 'administration/sidebar' %>
    </div>
  </div>
</div>