<% title 'Search Result' %>
<% noindex %>
<div class="container">

<div class="page-title">
  <h1><strong>Search Result</strong></h1>
  <p>Every Professional Service <span class="green-text">for One Unbeatable Price.</span></p>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <h4>Browse & Filter</h4>
      <div class="filter-box">
         <%= render 'gigs/search' %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <% if @gigs.blank? %>
       Sorry, it seems that we couldn't find what you're looking for :(
    <% else %>
    <div class="row">
      <div class="gig-filter">
        Sort by:
        <%= sort_link @search, :id, "New" %>
        <%= sort_link @search, :view_count, "Most Viewed", default_order: :desc %>
        <%= sort_link @search, :id, "High Rating", default_order: :desc %>
      </div>
      <% @gigs.each do |gig| %>
        <div class="col-md-4">
          <div class="thumbnail">
            <% @images.where(gig_id: gig).first(1).each do |image| %>
              <%= link_to image_tag(image.graphic.url), gig %>
            <% end %>
              <div class="caption">
              <h4><%= link_to "#{gig.gig_title}", gig %></h4>
                <div class="user-n-price">
                <p>
                  <%= image_tag gig.user.avatar(:xs), class: "img-circle gig-member-icon" %> <%= gig.user.username %><span class="pricing">RM 25</span>
                </p>
              </div>
              </div>
          </div>
         </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

</div>