<% title 'Manage Reviews' %>
<% noindex %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="gig-container-alt">
        <div class="button-bar">
          <h1>Reviews<%= link_to 'Add New +', new_review_path, class: "btn btn-smaller btn-success float-right" %></h1>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>GIG ID#</th>
              <th>User</th>
              <th>Subject</th>
              <th>Body</th>
              <th>Communication rating</th>
              <th>Service rating</th>
              <th>Recommend rating</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td><%= review.gig_id %></td>
                <td><%= review.user_id %></td>
                <td><%= review.subject %></td>
                <td><%= review.body %></td>
                <td><%= review.communication_rating %></td>
                <td><%= review.service_rating %></td>
                <td><%= review.recommend_rating %></td>
                <td class="text-right">
                  <%= link_to 'Show', review %>
                  <%= link_to 'Edit', edit_review_path(review) %>
                  <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
    <div class="col-md-3 right-sidebar">
      <%= render 'administration/sidebar' %>
    </div>
  </div>
</div>