<% title 'Images' %>
<% noindex %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="gig-container-alt">
        <div class="button-bar">
          <h1>Images</h1>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>GIG ID #</th>
              <th>BELONGS TO</th>
              <th>GRAPHIC</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @images.each do |image| %>
              <tr>
                <td>
                   <%= "##{image.gig.id}" %>
                   <span class="next-line">Created <%= local_time_ago(image.created_at, '%d %b %Y at %l:%M %p') %></span>
                </td>
                <td>
                  <%= link_to image.gig.gig_title, gig_path(image.gig_id) %>
                </td>
                <td><%= image_tag image.graphic.url(:thumb) %></td>
                <td class="text-right"><%= link_to 'Edit', edit_image_path(image) %>
                <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <center><%= paginate @images %></center>
      </div>
    </div>
    <div class="col-md-3 right-sidebar">
      <%= render 'administration/sidebar' %>
    </div>
  </div>
</div>
